body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ABE0F0; 
}

.header {
    width: 100%;
    height: 200px;
}

.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #E2852E; 
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 16px 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar li a:hover,
.navbar li a.active {
    background-color: #E2852E; 
    color: #FFEE91;
}


.home h1 {
    margin-top: -10px;
    font-size: 45px;
}

.home h2 {
    font-size: 28px;
}

.home p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}


.home {
    background: #FFF8D4;
    padding: 20px;
    margin: 20px 30px;
    border-radius: 15px;
    border: 3px solid #F5C857;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    text-align: left;
}


.home {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.home:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
